<!-- Image modal -->
<ng-template #template>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="modalImage" class="img-responsive modal-image"/>
  </div>
</ng-template>

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top">Fonzo</a>
    </li>
    <li>
      <a href="#top" class="slide-nav">{{'nav.home' | translate}}</a>
    </li>
    <li>
      <a href="#about" class="slide-nav">{{'nav.about' | translate}}</a>
    </li>
    <li>
      <a href="#food" class="slide-nav">{{'nav.food' | translate}}</a>
    </li>
    <li>
      <a href="#contact" class="slide-nav">{{'nav.contact' | translate}}</a>
    </li>
    <li class="slide-nav no-link">
      <a>
        <span class="fa fa-globe" style="display: inline"></span>&nbsp;
        <span (click)="selectLang('es')" [ngClass]="{'lang-select' : true, 'active' : currentLang == 'es'}">ES</span>&nbsp;|&nbsp;
        <span (click)="selectLang('en')" [ngClass]="{'lang-select' : true, 'active' : currentLang == 'en'}">EN</span>&nbsp;|&nbsp;
        <span (click)="selectLang('nl')" [ngClass]="{'lang-select' : true, 'active' : currentLang == 'nl'}">NL</span>
      </a>
    </li>
  </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
  </div>
</header>

<div class="checkered" id="about"></div>
<!-- About -->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center ">
        <div class="col-sm-3 col-xs-12"><img src="assets/img/star.png"/></div>
        <div class="col-sm-6 col-xs-12">
          <h2>{{'title.about' | translate}}</h2>
        </div>
        <div class="col-sm-3 hidden-xs"><img src="assets/img/star.png"/></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="small">
        <div class="lead" [innerHTML]="'text.about' | translate"></div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout hidden-xs">
  <div class="text-vertical-center">

  </div>
</aside>

<div class="checkered" id="food"></div>
<!-- food -->
<section class="food">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="row">
          <div class="col-sm-3 col-xs-12"><img src="assets/img/beer.png"/></div>
          <div class="col-sm-6 col-xs-12">
            <h2>{{'title.food' | translate}}</h2>
          </div>
          <div class="col-sm-3 hidden-xs"><img src="assets/img/wine.png"/></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <hr class="small">
            <div class="lead" [innerHTML]="'text.food' | translate"></div>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <carousel [noPause]="false" [interval]="0">
              <slide *ngFor="let image of getProperty('carousel-images')">
                <img [src]="image | safe" class="card-slide" (click)="openModal(template, $event)">
              </slide>
            </carousel>
          </div>
        </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Map -->
<section id="contact" class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0"
          allowfullscreen
          [src]="getProperty('map') | safe"></iframe>
</section>

<div class="checkered"></div>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{getProperty('title')}}</strong>
        </h4>
        <p>{{getProperty('address.line.1')}}<br/>{{getProperty('address.line.2')}}</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i>&nbsp;<a rel="nofollow" [href]="'tel:' + getProperty('tel') | safe">{{getProperty('tel')}}</a>
          </li>
          <li><i class="fa fa-envelope-o fa-fw"></i> <a rel="nofollow" [href]="'mailto:' + getProperty('email') | safe">{{getProperty('email')}}</a>
          </li>
        </ul>
        <br>
        <div class="col-md-12">
          <ul class="list-inline">
            <li>
              <a [href]="getProperty('facebook')"
                 target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
            <li>
              <a [href]="getProperty('instagram')" target="_blank"><i
                class="fa fa-instagram fa-fw fa-3x"></i></a>
            </li>
          </ul>
          <hr class="small">
        </div>
        <div class="col-md-12">
          <h4><strong>{{'text.opening.hours' | translate}}</strong></h4>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-6 text-right">{{'text.monday' | translate}}</div>
            <div class="col-xs-6 text-left">{{'text.closed' | translate}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right">{{'text.tuesday' | translate}}</div>
            <div class="col-xs-6 text-left">19:00-00:00</div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right">{{'text.wednesday' | translate}}</div>
            <div class="col-xs-6 text-left">13:30-17:00<br/>19:00-00:00</div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right">{{'text.thursday' | translate}}</div>
            <div class="col-xs-6 text-left">13:30-17:00<br/>19:00-00:00</div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right">{{'text.friday' | translate}}</div>
            <div class="col-xs-6 text-left">13:30-17:00<br/>19:00-01:00</div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right">{{'text.saturday' | translate}}</div>
            <div class="col-xs-6 text-left">13:30-17:00<br/>19:00-01:00</div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right">{{'text.sunday' | translate}}</div>
            <div class="col-xs-6 text-left">{{'text.closed' | translate}}</div>
          </div>
        </div>
        <div class="col-md-12">
          <hr class="small">
        </div>
      </div>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
