@font-face {
    font-family: 'SteepTypewriter';
    src: url('../fonts/SteepTypewriter.woff2') format('woff2'),
    url('../fonts/SteepTypewriter.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Typewriter';
    src: url('../fonts/Typewriter.woff2') format('woff2'),
    url('../fonts/Typewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

button.mobile-nav-toggle {
    top: 35px !important;
}

body, .nav-menu a, .nav-menu a:hover {
    font-family: "Typewriter", sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .section-title p, .section-title h2 {
    font-family: "SteepTypewriter", sans-serif !important;
}

#hero {
    background: url("../img/bg.jpg") top center no-repeat !important;
    background-size: cover !important;
}

.about .content ul i, .about .bullet {
    font-size: 26px !important;
    color: #55a086 !important;
}

.get-started-btn, .back-to-top i {
    background: #55a086 !important;
}

a, .nav-menu a {
    color: #55a086 !important;
}

button.btn-book.btn.btn-primary {
    background-color: #55a086 !important;
    border-color: #55a086 !important
}

a:hover, .nav-menu a:hover, .get-started-btn:hover, .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #6bd0b2 !important;
}

.back-to-top i:hover {
    background-color: #6bd0b2 !important;
}

hr {
    color: #c0922d !important;
    background-color: #c0922d !important;
}

.section-title h2::after {
    background: #c0922d !important;
    width: 100px !important;
}

.map {
    height: 30rem;
}

#header .logo img {
    max-height: 110px !important;
}

#hero h1 {
    text-shadow: -6px -3px 4px #252323 !important;
    font-size: 140px !important;
    font-style: bold !important;
    font-family: "SteepTypewriter", sans-serif !important;
}

#hero h2 {
    text-shadow: -6px -3px 4px #252323;
    font-size: 60px !important;
    padding-top: 40px !important;
    font-style: bold !important;
}

#qr-modal {
  z-index: 9999;
}

#qr-modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}
#qr-modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
#qr-modal .modal-body {
  overflow-y: auto;
}

#qr-modal .btn, #menu .btn {
    border: 1px solid rgba(192,146,45,.6);
    padding: 10px;
    margin: 5px;
}

#qr-modal div.modal-body {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url("../img/logo.png");
    background-attachment: static;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}



@media (max-width: 991px) {
    #header .logo img {
        max-height: 70px !important;
    }

    #hero h1 {
        font-size: 92px !important;
    }

    #hero h2 {
        font-size: 30px !important;
    }

    .modal {
        padding: 0 !important;
    }

    .modal .modal-dialog {
        width: 100%;
        max-width: none;
        height: 95%;
        margin: 0;
    }

    .modal .modal-content {
        height: 95%;
        border: 0;
        border-radius: 0;
    }

    .modal .modal-body {
        overflow-y: auto;
    }
}
