#hero {
    background: url("../img/bg.jpg") center center no-repeat;
!important;
    background-size: cover;
!important;
}

.map {
    height: 30rem;
}

#header .logo img {
    max-height: 70px;
!important;
}

@media (max-width: 991px) {

    .modal {
        padding: 0 !important;
    }

    .modal .modal-dialog {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .modal .modal-body {
        overflow-y: auto;
    }
}
